<h2><%= @user.name %>さんとのDM</h2>
<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
      <% if message.user_id == @user.id %>
      <tr>
        <td>
          <%= image_tag message.user.get_profile_image, size: '50x50' %><br>
          <%= message.user.name %>
        </td>
        <td><%= message.created_at.strftime('%Y.%m.%d.%H:%M') %></td>
        <td><%= message.body %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% else %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td><%= message.body %></td>
          <td><%= message.created_at.strftime('%Y.%m.%d.%H:%M') %></td>
          <td>
            <%= image_tag message.user.get_profile_image,size: '50x50' %><br>
            <%= message.user.name %>
          </td>


        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<div class='row'>
  <div class='col-6 offset-6'>
    <% if current_user.following?(@user) && @user.following?(current_user) %>
      <%= form_with model: @message, url: user_messages_path do |f| %>
        <%= f.text_area :body %>
        <%= f.hidden_field :room_id, :value => @room.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <br>
        <%= f.submit 'Send' %>
      <% end %>
    <% else %>
      <p>　相互フォローしていないため，DMによるやり取りはできません．</p>
    <% end %>
  </div>

</div>