<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <div>
        <h2>Books</h2>
        <%= render 'books/index',books: @books %>
      </div>
      <div>
        <h2>投稿数の前日比・前週比</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>今日の投稿数</th>
              <th>昨日の投稿数</th>
              <th>前日比</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @books.created_today.count %></td>
              <td><%= @books.created_yesterday.count %></td>
              <td>
                <% if @books.created_yesterday.count != 0 %>
                  <% day_rate = @books.created_today.count / @books.created_yesterday.count.to_f %>
                  <%= (day_rate * 100).round %>%
                <% else %>
                  -
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>今週の投稿数</th>
              <th>先週の投稿数</th>
              <th>前週比</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @books.created_this_week.count %></td>
              <td><%= @books.created_last_week.count %></td>
              <td>
                <% if @books.created_last_week.count != 0 %>
                  <% week_rate = @books.created_this_week.count / @books.created_last_week.count.to_f %>
                  <%= (week_rate * 100).round %>%
                <% else %>
                  -
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <h2>7日分の投稿数</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>6日前</th>
              <th>5日前</th>
              <th>4日前</th>
              <th>3日前</th>
              <th>2日前</th>
              <th>1日前</th>
              <th>今日</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% for i in 0..6 do %>
                <td><%= @books.created_day_before(6-i).count %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <canvas id=myChart></canvas><!--グラフ描画エリアの確保-->
        <script>
          var ctx = document.getElementById('myChart'); //id指定で描画場所を指定
          var myChart = new Chart(ctx, {
              type: 'bar', //グラフタイプの選択：棒グラフ
              data: {
                  labels: [ //各棒のラベルを付ける(左の棒のラベルから順に記載)
                    <% for i in 0..4 %>
                      '<%= 6-i %>days ago',
                    <% end %>
                      'yesterday',
                      'today'
                  ],
                  datasets: [{
                      label: 'books', //凡例の命名
                      data: [ //表示するデータを選択(左の棒の値から順に記載)
                        <% for i in 0..6 do %>
                          <%= @books.created_day_before(6-i).count %>,
                        <% end %>
                      ],
                      backgroundColor: 'rgba(255, 99, 132, 1)', //棒の色
                      borderColor: 'rgba(255, 99, 132, 1)', //棒の枠の色
                      borderWidth: 1 //棒の枠の幅
                  }]
              },
              options: {
                  scales: {
                      y: { //y軸について
                          beginAtZero: true //下限を0にする設定
                      }
                  }
              }
          });
        </script>
        <%= form_with url: user_search_path(@user), method: :post, local: false do |f| %>
          <%= f.date_field :created_at %>
          <%= f.submit '検索', class: 'btn btn-primary'  %>
        <% end %>

        <div class="search_result">
          <% if @search_book.present? %>
            <%= render 'search', search_book: @search_book %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
