<%= form_with url: searches_path, method: :get, local: false do |f| %>
  <%= f.text_field :word %>
  <%= f.submit '検索する' %>
<% end %>
<div>
  全<%= [3000, @count].min %>件中
  <%= (@page.to_i-1)*30+1 %>～
  <% if @page.to_i*30 < @count %>
    <%= @page.to_i*30 %>
  <% elsif %>
    <%= @count %>
  <% end %>
  件目
</div>
<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Author</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% books.each do |book| %>
        <tr>
          <td><%= image_tag book.medium_image_url %></td>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td>¥<%= book.item_price.to_s(:delimited) %></td>
          <td>
            <% if book.affiliate_url.nil? %>
              <%= link_to '商品ページ', book.item_url, class: 'btn btn-info' %>
            <% else %>
              <%= link_to '商品ページ', book.affiliate_url, class: 'btn btn-info' %>
            <% end %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>
<span class="w-100 mx-auto">
  <% if @books.present? %>
    <% for i in -10..9 %>
      <% if i == 0 %>
        <%= @page %>
      <% elsif @page.to_i+i >= 1 && @page.to_i+i <= @total_pages %>
        <%= link_to @page.to_i+i, searches_path(word: @word, page: @page.to_i+i), remote: true, onclick: 'window.scroll({top: 0,behavior: "smooth"});' %>
      <% end %>
    <% end %>
  <% end %>
</span>

<script>
  function scrollTop(){
    window.scroll({top: 0,behavior: "smooth"});
  };
</script>